.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f2f5; 
}

.sidebar-placeholder {
  width: 260px; 
  background-color: #010f35; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  height: 100vh;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 188px; 
  background-color: var(--bg-main);

  height: 100vh;
  overflow: hidden;

}

.navbar-placeholder {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.content-area {
  color: var(--text-main);
  display: flex;
  padding: 0 !important;
  flex: 1;
  overflow: hidden;
}