.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f2f5; /* Light grey background for the whole app */
}

.sidebar-placeholder {
  width: 260px; /* Standard professional width */
  background-color: #010f35; /* Your Dark Green theme */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* We use fixed to keep it on the screen while scrolling */
  position: fixed;
  height: 100vh;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 260px; /* Matches the sidebar width so content isn't hidden */
  background-color: var(--bg-main);
}

.navbar-placeholder {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.content-area {
  padding: 25px;
  color: var(--text-main);
}