
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}
/* part of theme  */
:root {
  /* Light Mode */
  --bg-main: #f4f7f6;
  --bg-sidebar: #23212c;
  --bg-navbar: #ffffff;
  --text-main: #353333;
  --text-sidebar: #ffffff;
  --border-color: #e0e0e0;
  --accent-color: #ffc107; /* طلایی AIMS */

  --stat-card-bg: #ffffff;
  --stat-value-color: #1e293b;
  --stat-title-color: #64748b;
  --stat-progress-bar-bg: #e2e8f0;
}

[data-theme='dark'] {
  /* Dark Mode */
  --bg-main: #121212;
  --bg-sidebar: #1a1a1a;
  --bg-navbar: #1e1e1e;
  --text-main: #e0e0e0;
  --text-sidebar: #ffc107;
  --border-color: #333333;
  --accent-color: #ffca28;

  /* dark mode کارد ها  */
  --stat-card-bg: #2d3748; /* یک رنگ تیره */
  --stat-value-color: #f7fafc; /* رنگ روشن برای متن */
  --stat-title-color: #a0aec0;
  --stat-progress-bar-bg: #4a5568;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease;
}